.bgimage {
    height:100vh;
    background: url('bg\ top\ \(2\).jpg');
    background-size:cover;
    position:relative;
}

.hero_title {
    font-size: 3.5rem;
}
.hero_desc {
    font-size: 2rem;
}
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.navbarScroll.navbarDark {
    background-color: rgb(1, 1, 95) !important;
}
.nav-link:hover{
color: rgb(158, 158, 255) !important;
}

.imageAboutPage {
    width: 100%;
}
.portfolioContent p card-text{
    text-align: center !important;
}
.btn-download-cv a{
    background-color: rgb(1, 1, 95) !important;
    color: white !important;
    text-decoration: none;
    
}
.btn-download-cv a:hover{
    background-color: rgb(158, 158, 255) !important;
}
.btn{
    background-color: rgb(1, 1, 95) !important;
}
.btn:hover{
    background-color: rgb(158, 158, 255) !important;
    color: black !important;
}

.servicesText.card {
    height: 280px;
    cursor: pointer;
  }
.servicesIcon {
    font-size: 36px;
    text-align: center;
    width: 100%;
}
.card-title {
    text-align: center;
}
.card-text {
    text-align: center;
    
}
.card:hover .servicesIcon {
    color: rgb(1, 1, 95);
}
.servicesText:hover {
    border: 2px solid rgb(1, 1, 95);
}
.portfolioContent:hover{
    border: 2px solid rgb(1, 1, 95);
}
.social-icons {
    font-size: 36px;
    cursor: pointer;
}
.fa-facebook:hover,.fa-instagram:hover,.fa-twitter:hover,.fa-linkedin:hover, .fa-twitch:hover {
    color: rgb(158, 158, 255) !important;
}
.fab {
    color: #ffffff;
}

#footer {
    background-color: rgb(1, 1, 95) !important;
    text-align: center;
}
.copyright{
    color: white !important;
}

#about, #services, #portfolio, #contact {
    margin-top: 4rem;
    padding-top: 4rem;
}
#contact {
    padding-bottom: 4rem;
}


  /* for nav collapse section */

  .navbar-toggler-icon{
    color: white !important;
    text-decoration: none;

  }

/* Mobile View */
@media (max-width: 991.98px) {
    .navbar-collapse {
        text-align: center;
        background-color: rgb(1, 1, 95);
        padding-top: 10px;
    }
    .navbar-nav {
        flex-direction: column;
    }
    .nav-link {
        padding: 30px;
        font-size: 1.3em;
    }
}

